html
	head
	body
	
	div(class="container container-content")
			h1 Add user
			//- add firstname, add lastname, add email bar
			//- error message when not all fields are filled out, so if fieldEmptyError is true, error and message are checked and set server-side
			if fieldEmptyError
				p(class="errorMessage") #{errorMessage}
			form(name='user-form' method='POST' action='/add_users')
				div.form-group
					label(for = 'firstname') Firstname: 
					input#firstname.form-control(type ='text', placeholder ='Firstname' name ='firstname')
				div.form-group
					label(for = 'lastname') Lastname: 
					input#lastname.form-control(type ='text', placeholder ='Lastname' name ='lastname')
				div.form-group
					label(for = 'email') Email: 
					input#email.form-control(type ='text', placeholder ='name@email.com' name ='email')
				button.btn.btn-primary(type='submit' id='button') Add user