html
	head
	body
		h1 Search for users.

.container
	.row
		.col-xs-6.offset-xs-3
			form(action="/result" method="POST")
				.form-group
					h4.text-xs-center Search Users
					input(name="query" type="text" class="form-control" placeholder="Search user")
					input(value="submit" type="Submit")
				//- button(type="submit" class="btn btn-success btn-block btn-lg") Search	
			//- form(action='./users.json', method='post')
			//- input(type='search', value='first name')
			//- button Search